<div class="home-banner">
  <div class='row'>
    <h2>Bored with insipid mojitos and sweetish margaritas?</h2>
  </div>
  <div>
    <h1>Why don't you try <br>BEER COCKTAIL?</h1>
  </div>
  <div>
    <%= link_to "Get a Random Recipe", new_cocktail_path, class: "navbar-item navbar-link btn btn-success" %>
  </div>
  <div>
    <p>or scroll down</p>
    <p><i class="fas fa-angle-down"></i></p>
  </div>
</div>


<div class="index-container">
  <div class="cards-container">
    <div class="row">
      <div class="col-lg-6">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for a specific cocktail">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Go!</button>
          </span>
        </div><!-- /input-group -->
      </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
    <div class="row">
      <% @cocktails.each do |cocktail| %>
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://via.placeholder.com/350/180');">
            <div class="card-description">
              <h2> <%= cocktail.name %> </h2>
            </div>
            <div class= "card-link">
              <p><%= link_to '', cocktail_path(cocktail) %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
