<div class="home-banner">
  <div class='row'>
    <h2>Bored with insipid mojitos and savorless margaritas?</h2>
  </div>
  <div class='row'>
    <h1>Why don't you try <br>BEER COCKTAIL?</h1>
  </div>
  <div class='row random-btn-row'>
    <%= link_to "Get a Random Recipe", new_cocktail_path, class: "navbar-item btn btn-success" %>
  </div>
  <div class='row'>
    <p>or scroll down <br>
      <i class="fas fa-angle-down"> </i>
    </p>
  </div>
</div>


<div class="index-container">
  <div class="cards-container">
    <div class="row">
      <div class="input-group search-bar">
        <input type="text" class="form-control" id="search-input" placeholder="Looking for a specific cocktail or ingredient?">
        <span class="input-group-btn">
          <button class="btn btn-info" id="search-btn" type="button">Search!</button>
        </span>
      </div><!-- /input-group -->
    </div><!-- /.row -->
    <div class="row">
      <% @cocktails.each do |cocktail| %>
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill %>');">
            <div class="card-description">
              <h2> <%= cocktail.name %> </h2>
            </div>
            <div class= "card-link">
              <p><%= link_to '', cocktail_path(cocktail) %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
