// Specific CSS for your home-page

body {
  background: #223843;
}

.index-container {
  height:  300vh;
  background: #dcdcdc;
  padding-top: 100px;
  width: 100%;
  margin: auto;
  border-radius: 4px;
  padding: 30px;
}
