.show-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  height:  70vh;
  background: white;
  width: auto;
  margin: 40px 80px;
  border-radius: 4px;
  padding: 30px;
}
.cocktail-card {
  box-shadow: 1px 1px 9px 1px #0e0d001c;
  border-radius:2px;
  margin:12px;
  padding: 16px;
  background: #fdfcfc;
}
#cocktail-title {
  grid-row: 1 / span 1;
  grid-column: 1 / span 5;
  text-align: center;
}
#cocktail-recipe {
  p {
    text-align: center;
  }
  grid-row: 2 / span 5;
  grid-column: 1 / span 5;
}
#cocktail-share {
  grid-row: 4 / span 3;
  grid-column: 6 / span 2;
  text-align: center;
  padding: 20px;
}
#cocktail-picture {
  grid-row: 1 / span 3;
  grid-column: 6 / span 2;
  text-align: center;
}
.add-link {
  border-radius: 3px;
  grid-row: 6 / span 1;
  grid-column: 2 / span 1;
  margin-bottom: -20px;
}
.back-btn {
  margin-left:80px;
  margin-top: -20px;
}
