<div class="navbar navbar-fixed-top">

  <!-- Logo -->


  <!-- Right Navigation -->
  <div class="navbar-right hidden-xs hidden-sm">

    <!-- Links -->
    <%= link_to "New Cocktail", new_cocktail_path, class: "navbar-item navbar-link btn btn-info" %>

  </div>

</div>
